{% if page.show_research_map_fab %}
<a href="{{ '/research-map/' | relative_url }}" class="research-map-fab" title="View Interactive Research Map" aria-label="View Research Map">
  <i class="fas fa-project-diagram"></i>
  <span class="fab-tooltip">Research Map</span>
</a>
{% endif %}
